@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
    box-sizing: border-box;
    font-family: "Rubik";
} */

/* #cCarousel .arrow {
    position: absolute;
    top: 45%;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    font-size: 26px;
    color: white;
    background: #ff5a1f;
    cursor: pointer;
} */

/* #carousel-vp {
    width: 1000px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
} */



@media (max-width: 770px) {
    #carousel-vp {
        width: 510px;
    }
}

@media (max-width: 510px) {
    #carousel-vp {
        width: 250px;
    }

    #cCarousel #prev{
      margin-left: 12px;
    }
    #cCarousel #next{
   margin-right: -100px;
    }

    #cCarousel #cCarousel-inner {
   gap: 20px;
    
    }

    
}



.cCarousel-item {
    width: 300px;
    height: 365px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.cCarousel-item img {
    object-fit: cover;
    color: white;
}

.cCarousel-item .infos {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: white;
    color: black;
}

.cCarousel-item .infos button {
    background: #222;
    padding: 10px 30px;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

