@tailwind base;
@tailwind components;
@tailwind utilities;
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: url("/public/images/headeraboutus.png");

}
header::before{
    content: "";
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 80px;
    background-color: rgba(0,0,0,0.5);
}
header-bg {
    background-size: 120% auto;
  }
